[Desktop Entry]
Version=1.0
Type=Application
Name=Ruby Console
Icon=/usr/share/icons/Humanity/categories/48/applications-ruby.svg
Exec=lxterminal -t "Interactive Ruby" -e irb2.3
Comment=Develop with Ruby!
Categories=Development
Terminal=false
